<% @flats.each do |flat| %>
<div class="flex">
  <div class="card col-md-4">
    <img class="card-img-top img-thumbnail rounded mx-auto d-block" src="<%= flat.banner_url %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.description[0, 150] %></p>
      <div class="flex">
        <div class="flex">
          <i class="material-icons me-2">people</i>
          <span><%= flat.number_of_guests %></span>
        </div>
        <div class="flex">
          <i class="material-icons me-2">euro_symbol</i>
          <span><%= flat.price_per_night %></span>
        </div>
          </div>
      <a href="#" class="btn btn-primary">More info</a>
      <a href="#" class="btn btn-warning">Edit</a>
      <a href="#" class="btn btn-danger">Remove</a>
    </div>
  </div>
</div>
<% end %>
